%h1 Create a New Team
.form-container
  =form_tag teams_path, class: 'form-horizontal' do
    .form-group
      =label_tag :name, nil, class: 'control-label'
      =text_field_tag :name, nil, required: true, class: 'form-control'
    .form-group
      =submit_tag 'Add Team', class: 'btn btn-default'
